@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body data-ng-app="app" data-ng-cloak data-ng-controller="MainController">
    <div id="toast-container"></div>
    <div class="container">
        <div class="row">
            @*<div class="col-lg-12">
                <div class="jumbotron">
                    <h1>Chat</h1>
                </div>
            </div>*@
        </div>
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <div class="navbar-brand">Chat - powered by SignalR &amp; AngularJS</div>
                        </div>

                        <ul class="nav navbar-nav">
                            @*<li><a href="#">Infomracje</a></li>*@                            
                        </ul>

                        <ul class="nav navbar-nav navbar-right">                            
                            <li><a href="@Url.Action("Logout", "SignIn", new { area="Account" })" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a></li>
                        </ul>                        

                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" data-ng-controller="UsersController">
                <div class="panel panel-default">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body"></div>
                </div>
            </div>
            <div class="col-lg-6" data-ng-controller="ChatController">
                <div class="panel panel-default">
                    <div class="panel-heading">Chat</div>
                    <div class="panel-body">
                        <textarea class="form-control chatWindow" id="chatWindow" readonly disabled>{{renderedMessages}}</textarea>                        
                    </div>
                    <div>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="messageInput" placeholder="Wpisz wiadomość do wysłania" autofocus tabindex="1" ng-model="message" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary pull-right" ng-click="broadcastMessage(message)" tabindex="2"><span class="glyphicon glyphicon-share " />Wyślij</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3" data-ng-controller="RoomsController" ng-cloak>
                <div class="panel panel-default">
                    <div class="panel-heading">Rooms</div>
                    <div class="panel-body">
                        <div ng-repeat="room in rooms"><span ng-click="joinRoom(room)" >{{room.Name}}</span></div>
                    </div>
                    <div>
                        <button class="btn btn-default" ng-click="sendMessage()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Tu modale -->
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    @Scripts.Render("~/Scripts/appBundle", "~/Scripts/communication", "~/Scripts/models", "~/Scripts/services", "~/Scripts/events", "~/Scripts/controllers")
    <script>
        $.connection.hub.logging = true;
        $.connection.hub.start().done(function () { loaded = true; });
    </script>

</body>

</html>
