@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body data-ng-app="app" data-ng-cloak data-ng-controller="MainController">
    <div id="toast-container"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1>Chat</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" data-ng-controller="UsersController">
                <div class="panel panel-default">
                    <div class="panel-heading">Users</div>
                    <div class="panel-body"></div>
                </div>
            </div>
            <div class="col-lg-6" data-ng-controller="ChatController">
                <div class="panel panel-default">
                    <div class="panel-heading">Chat</div>
                    <div class="panel-body">
                        <textarea class="form-control chatWindow" id="chatWindow" ng-model="messages" readonly></textarea>
                    </div>                    
                    <div>
                        <input type="text" class="form-control" id="messageInput" placeholder="Wpisz wiadomość do wysłania" autofocus />
                        <button class="btn btn-primary pull-right" ng-click="broadcastMessage()" ><span class="glyphicon glyphicon-share " />Wyślij</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3" data-ng-controller="RoomsController" ng-cloak>
                <div class="panel panel-default">
                    <div class="panel-heading">Rooms</div>
                    <div class="panel-body">
                        <div ng-repeat="room in rooms">{{room.Name}}</div>
                    </div>
                    <div>
                        <button class="btn btn-default" ng-click="sendMessage()"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <!-- Tu modale -->
    </div>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/js"></script>    
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    @Scripts.Render("~/Scripts/appBundle", "~/Scripts/communication", "~/Scripts/models", "~/Scripts/services", "~/Scripts/events", "~/Scripts/controllers")
    <script>
        $.connection.hub.logging = true;
        $.connection.hub.start().done(function(){ loaded= true; });
    </script>

</body>

</html>
